<div>
	<div ng-if="!options"><h4>Options are required</h4>
	</div>	 
	<div class="box" ng-if="options">
	    <!-- grid -->
		<div ng-hide="showForm">
			<div class="panel-body">
				<div edu-grid  options="options"   ></div>
			</div>
		</div>
		<!-- end grid -->
		<!-- form -->
		<div  ng-if="showForm">
			<div class="panel-body">
				<div>
					<div edu-form  result="options.formData" options="options" > </div>  
				</div>
            </div>
 		</div>
		<!--end form  -->
		<!-- overlay formDelete-->
		<div name="overlay" class="overlay-edu-crud" ng-show="options.showOverlayCrudFormDelete">
			<div class="centrado-edu-crud">
				<div class="panel panel-info" >
					<div class="panel-heading" >
						<div class="row">
							<div class="col-md-12">
								<h4>{{options.snippets.formDeleteTitle || 'Por favor confirme'}}</h4>
							</div>
						</div>
					</div>
					<div class="panel-body" >
						<h4>{{options.snippets.formDeleteMessage || '¿Está seguro que quiere ELIMINAR el registro'}} {{keyRowForDelete}} ?</h4>
					</div>
					<div class="panel-footer" >
					   <div class="row">
							<div class="col-md-offset-6 col-md-6">  
								<button ng-click="formDeleteContinue()"  class="btn btn-sm btn-primary" >{{options.snippets.formDeleteButtonContinue || 'Continuar'}}</button> 
								<button ng-click="formDeleteCancel()" class="btn btn-sm">{{options.snippets.formDeleteButtonCancel || 'Cancelar'}}</button> 
							</div> 
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- end overlay formDelete-->
	</div>
 </div>
